@import './base.css';

body,
html,
p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  /* 滚动条的宽度 */
  height: 8px;
  /* 滚动条的高度 */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  /* 滚动条的颜色 */
  border-radius: 10px;
  /* 圆润的边角 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* 悬停时的颜色 */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* 滚动条轨道的颜色 */
  border-radius: 10px;
  /* 圆润的边角 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  /* 滚动条的宽度 */
  scrollbar-color: #ccc #f1f1f1;
  /* 滚动条和轨道的颜色 */
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* 圆润的边角 */
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  /* 圆润的边角 */
}

.fade-up-enter-active,
.fade-up-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.fade-up-enter-from,
.fade-up-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
